/*버튼 CSS 설정*/

.btn-100{width: 100%;}
.btn-90{width: 90%;}
.btn-80{width: 80%;}
.btn-70{width: 70%;}
.btn-60{width: 60%;}
.btn-50{width: 50%;}
.btn-40{width: 40%;}
.btn-30{width: 30%;}
.btn-20{width: 20%;}
.btn-10{width: 10%;}

.btn-red{
    color: white;
    background-color: red;
}

.btn-orange{
    color: white;
    background-color: orange;
}

.btn-yellow{
    color: white;
    background-color: yellow;
}

.btn-green{
    color: white;
    background-color: rgb(43, 187, 86);

}

.btn-blue{
    color: white;
    background-color: royalblue;
}
.btn-blue:hover,.btn-blue:focus{
    color: white;
    background-color: rgb(32, 51, 109);
    border: 1px solid #000;
}

.btn-navy{
    color: white;
    background-color: navy;
}
.btn-navy:hover,.btn-navy:focus{
    color: white;
    background-color: rgb(0, 0, 70);
    border: 1px solid #000;
}
.btn-purple{
    color: white;
    background-color: blueviolet;   
}

.btn-gold{
    color: white;
    background-color: goldenrod;   
}