@charset "UTF-8";

/* -----------------------------------------------------------
CONTENTS INDEX:
--------------------------------------------------------------
1) General
2) row
3) search form
-------------------------------------------------------------*/

/* 1. General */
html,body{
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: twayair;
    
    color: #2f2f2f;
    font-size: 16px;
    line-height: 1.7;
    background-color: #fff;
}


hr{
    margin: 0px;
}

/* 글로벌 폰트설정 */
h1,h2,h3,h4,h5,h6{
    font-family: twayair;
}

p,span,label,input,textarea,li,select{
    font-family: S-CoreDream-3Light;
}

/* 링크 설정 */
a {
    color: #2f2f2f;
    text-decoration: none;
}
a:hover {
    color: #818181;
    text-decoration: none;
    cursor: pointer;
}
a:focus {
    outline: none;
    color: #999999;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p,span,label{
    margin: 0;
    padding: 0;
}


/*공통태그 설정*/
.wrapper{
    min-width: 1400px;
    
}

.wrapper-login{
    min-width: 700px;
    max-width: 700px;
    display: flex;
    flex-direction: column;

}
.wrapper-join{
    min-width: 700px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.wrapper-myinfo{
    min-width: 700px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}
.wrapper-category-reg{
    min-width: 700px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

section{
    margin-bottom: 20px;
}

/* ------------------------------------------------------------------------------- */

/* 2. row */


/* row 설정 */
.row-none{
    margin: 10px 0;
}

.row-default{
    display: flex;
    margin: 10px 0;
}

.row-start{
    display: flex;
    justify-content: start;
    margin: 10px 0;
}

.row-end{
    display: flex;
    justify-content: end;
    margin: 10px 0;
}

.row-center{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.row-between{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.row-around{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.row-evenly{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

/*column설정*/

.column-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}

/* ----------------------------------------------------------------------------- */


/*3. search form*/

/*검색창 디자인 설정*/

.search-option{
	font-family: twayair;
}

.search-option:focus{
    box-shadow: none;
}

.search-input{
	font-family: twayair;
}

.search-input:focus{
    box-shadow: none;
}

.search-btn{

    display: flex;
    justify-content: center;
    align-items: center;
}
