@charset "UTF-8";

/* =====================컨텐츠 설정============================ */

/* 컨텐츠 설정 */
.contents{
    display: flex;
    padding: 0px 0px 10px 0px;

}
/* =====================컨텐츠 설정============================ */



/* =============================메인================================== */

.main{
    flex-grow: 1;
    padding: 10px 0px 10px 10px;
}

.bbs-area{
    padding: 30px;
}

.bbs-headline{
    margin-bottom: 20px;
}
.bbs-main{
    margin-bottom: 0px;
}
.bbs-bottom{
    margin-bottom: 0px;
}

.section-line{
    margin-bottom: 20px;

}


.bbs-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-search{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 500px;
}

.post-search-frm{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 5px 0;
}

/*검색창 3부분 옵션*/
.search-option{
    width:100px !important;
}

.search-option:focus{
}

.search-input{
    width: 250px !important;
    height: 40px !important;
}

.search-input:focus{
}

.search-btn{
    width: 40px;
    height: 40px;
}

/*게시글 제목 링크 밑줄설정*/
.post-link:hover{
    text-decoration: underline;
}