<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ardor.mapper.FileMapper">


	<!-- 파일정보 DB에 저장 -->
	<insert id="insertFileToDB">
		insert into file(fileName,fileRealName,filePath,fileRegdate,fileTemp)
		values(#{fileName},#{fileRealName},#{filePath},#{fileRegdate},#{fileTemp})
	</insert>

	<!-- PK값으로 파일정보가져오기 -->
	<select id="getFileInfoByFileNo">
		select * from file where fileNo = #{fileNo}	
	</select>

	<!-- 파일이름으로 파일정보 가져오기 -->	
	<select id="getFileInfoFromDB" parameterType="String" resultType="fileDTO">
		select * from file where fileName = #{fileName}
	</select>
	
	
	<!-- DB수정 -->
	<update id="updateFileInfo">
		UPDATE file
		<include refid="updateColumn"></include>
		WHERE fileNo = #{fileNo};
	</update>
	
	
	<!-- postNo에 해당하는 파일 전부 가져오기 -->
	<select id="getAllFilesByPostNo" resultType="fileDTO">
		select * from file where postNo = #{postNo}
	</select>
	
	<!-- 임시 Temp 파일 전부 가져오기 -->
	<select id="getAllTempFiles" resultType="fileDTO">
		select * from file where fileTemp = #{fileTemp}
	</select>
	
	
	
	
	<!-- 업데이트 필터링 -->
	<sql id="updateColumn">
		SET
	    <choose>
	        <when test="postNo != null">
	        	postNo = #{postNo},
	        </when>
	        <when test="memberNo != null">
	        	memberNo = #{memberNo},
	        </when>
	        <when test="replyNo != null">
	        	replyNo = #{replyNo},
	        </when>
	    </choose>
	    filePath = #{filePath}, fileTemp = #{fileTemp}		
	</sql>
	

</mapper>