<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ardor.mapper.MemberMapper">

	<!-- 회원등록 -->
	<insert id="insertMembersToDB">
		insert into members(memberPhotoName,memberPhotoURL,memberID,memberPW,memberName,memberAge,memberBirth,memberEmail,memberTel,
		memberPolicyAgreement,memberTermsAgreement,memberEventAgreement
		memberRegdate,memberGrant
		)
		values(#{memberPhotoName},#{memberPhotoURL},#{memberID},#{memberPW},#{memberName},#{memberAge},#{memberBirth},#{memberEmail},#{memberTel},
		#{memberPolicyAgreement},#{memberTermsAgreement},#{memberEventAgreement},
		#{memberRegdate},#{memberGrant}
		)
	</insert>

</mapper>