<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ardor.mapper.PostingMapper">


	<!-- ================================== 기본값 : STAR ================================== -->
	
	<!-- 게시글 PK값 가져오기  -->
	<select id="getPostNo" resultType="Integer">
		select postNo from posting where bbsNo = #{bbsNo} and bbsPostNo = #{bbsPostNo};
	</select>
	
	<!-- ================================== 기본값 : END ================================== -->
	
	
	
	
	
	
	<!-- ================================== CRUD : START ================================== -->
	
	<!-- 게시글 등록 -->
	<insert id="insertPostingToDB">
		insert into posting(bbsPostNo,postWriter,postTitle,postContents,postNotice,postHit,postRegdate,bbsNo)
		values(#{bbsPostNo},#{postWriter},#{postTitle},#{postContents},#{postNotice},#{postHit},#{postRegdate},#{bbsNo})
	</insert>


	<!-- 게시글 1개 조회 -->
	<select id="getPostingByPostNo" resultType="postingDTO">
		select * from posting where postNo = #{postNo} 
	</select>


	<!-- 게시글 전체 조회 (특정게시판 PK값 이용) -->
	<select id="getBoardPostingsByDTO" resultType="postingDTO">
	    select * from posting
	    where 
	    	<include refid="findBbsNo"></include> <!-- 쿼리순서에 유의 -->
	    	<include refid="searchResult"></include>
	    	<include refid="ordering"></include>
	</select>


	<!-- 모든 게시판의 게시글 조회 -->
	<select id="getGlobalPostingsFromDB" resultType="postingDTO">
		select * from posting
		where
	    <include refid="searchResultTotal"></include>
	    <include refid="orderingTotal"></include>
	</select>
	
	<!-- 게시글 삭제 -->
	<delete id="deletePostingByPostNo" flushCache="true">
		delete from posting where postNo = #{postNo};
	</delete>
	
	
	<!-- 게시글 수정 -->
	<update id="updatePostingByPostingDTO" parameterType="postingDTO">
		update posting
		set postTitle = #{postTitle},
		    postContents = #{postContents},
		    postNotice = #{postNotice},
		    postRegdate = #{postRegdate},
		    fileFullPath = #{fileFullPath}
		where postNo = #{postNo}
	</update>
	
	<!-- bbsPostNo로 게시글 중복확인 -->
	<select id="isBbsPostNoDuplicate" resultType="Integer">
		select count(*) from posting where bbsNo = #{bbsNo} and bbsPostNo = #{bbsPostNo}
	</select>
	
	<!-- bbsPostNo 마지막 번호 가져오기 -->
	<select id="getLastBbsPostNo" resultType="int">
	    SELECT MAX(bbsPostNo) FROM posting where bbsNo = #{bbsNo}
	</select>
	<!-- ================================== CRUD : END ================================== -->





	
	<!-- ================================== 유틸 : START ================================== -->
	
	<!-- 전체게시판의 갯수 가져오기 -->
	<select id="getAllPostingCnt" resultType="Integer">
		select count(*) from posting
		where
		<include refid="searchResultTotal"></include> <!-- 쿼리순서에 유의 -->
	</select>
	
	
	
	<!-- 특정 게시판에 게시글의 갯수를 가져오기(postNo 시퀀스 증가용) -->
	<select id="getPostingCountBybbsNo" resultType="Integer">
		select count(*) from posting where bbsNo = #{bbsNo}
	</select>
	
	<!-- 특정 게시판에 게시글의 갯수를 가져오기(검색옵션용) -->
	<select id="getPostingCountByPostingDTO" resultType="Integer">
		select count(*) from posting where bbsNo = #{bbsNo}
		<include refid="searchResult"></include> <!-- 쿼리순서에 유의 -->
	</select>


	<!-- 게시글 조회수 증가 -->
	<update id="addHitUp">
		update posting set postHit = #{postHit}
		where postNo = #{postNo}
	</update>
	
	
	<!-- 전체게시글 샘플 가져오기 -->
	<select id="getGlobalPostingSample" resultType="postingDTO">
		select * from posting
		order by postNo DESC
		limit 0, 10
	</select>
	
	<!-- ================================== 유틸 : END ================================== -->
	
	
	<!-- ================================== 필터링 : START ================================== -->
	<!-- 게시판의 bbsNo 필터링 -->
	<sql id="findBbsNo">
		<if test="bbsNo != null || bbsNo != '' ">
			bbsNo = #{bbsNo}
		</if>
	</sql>
	
	
	<!-- 검색어 필터링 -->
	<sql id="searchResult">
	    <choose>
	        <when test="searchTarget.name() == 'WRITER'">
	           	and postWriter like CONCAT('%', #{keyWord}, '%')
	        </when>
	        <when test="searchTarget.name() == 'TITLE'">
	          	and postTitle like CONCAT('%', #{keyWord}, '%')
	        </when>
	        <when test="searchTarget.name() == 'CONTENTS'">
	        	and postContents like CONCAT('%', #{keyWord}, '%')
	        </when>
	    </choose>
	</sql>
	
	<!-- 순서 필터링 -->
	<sql id="ordering">
	    <choose>
	        <when test="orderBy.name() == 'IDX_ASC'">
	            order by bbsPostNo ASC
	        </when>
	        <when test="orderBy.name() == 'REGDATE_DESC'">
	            order by postRegdate DESC
	        </when>
	        <when test="orderBy.name() == 'REGDATE_ASC'">
	            order by postRegdate ASC
	        </when>
	        <when test="orderBy.name() == 'HIT_DESC'">
	            order by postHit DESC
	        </when>
	        <when test="orderBy.name() == 'HIT_ASC'">
	            order by postHit ASC
	        </when>
	        <otherwise>
	            order by bbsPostNo DESC
	        </otherwise>
	    </choose>
	    limit #{pageStartRowNum}, #{pageRows}
	</sql>
	
	
	
	
	
	
	<!-- 검색어 필터링(전체게시글 검색용도) -->
	<sql id="searchResultTotal">
	    <choose>
	        <when test="searchTarget.name() == 'WRITER'">
	           	postWriter like CONCAT('%', #{keyWord}, '%')
	        </when>
	        <when test="searchTarget.name() == 'TITLE'">
	          	postTitle like CONCAT('%', #{keyWord}, '%')
	        </when>
	        <when test="searchTarget.name() == 'CONTENTS'">
	        	postContents like CONCAT('%', #{keyWord}, '%')
	        </when>
	    </choose>
	</sql>
	
	
	<!-- 순서 필터링(전체게시글 정렬용도) -->
	<sql id="orderingTotal">
	    <choose>
	        <when test="orderBy.name() == 'IDX_ASC'">
	            order by postNo ASC
	        </when>
	        <when test="orderBy.name() == 'REGDATE_DESC'">
	            order by postRegdate DESC
	        </when>
	        <when test="orderBy.name() == 'REGDATE_ASC'">
	            order by postRegdate ASC
	        </when>
	        <when test="orderBy.name() == 'HIT_DESC'">
	            order by postHit DESC
	        </when>
	        <when test="orderBy.name() == 'HIT_ASC'">
	            order by postHit ASC
	        </when>
	        <otherwise>
	            order by postNo DESC
	        </otherwise>
	    </choose>
	    limit #{pageStartRowNum}, #{pageRows}
	</sql>
		
	
	
	<!-- ================================== 필터링 : END ================================== -->
	
	
	
	
	
	
	
	
	

</mapper>